
.panelSiugj .x-panel, .panelSiugj .x-panel-tbar
{
	border-bottom: 1px solid #E5E5E5;
}

.panelSiugj .x-panel, .panelSiugj .x-toolbar
{
	height:50px !important;
	background-color:#FFF !important;
	border-color: #FFF !important; 
	background-image: none;
	border-color:#F00;

}


.panelSiugj .x-panel, .panelSiugj .x-toolbar-cell
{
	/*height:50px !important;*/
	background-color:#FFF !important;
}

.panelSiugj .x-panel, .panelSiugj .x-toolbar, .panelSiugj .x-toolbar-left, .panelSiugj .x-toolbar-right
{
	background-color:#FFF;
	height:50px;
}




.gridSiugj .x-grid3-cell
{
	height:50px !important;
	vertical-align:middle !important;
}

.gridSiugj .x-grid3-cell-inner
{
	font-family:WorkSans-Regular;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 14px !important;

	
	color: #3E3E3E !important;
}


.gridSiugj .x-grid3-row-body td
{
	font-family:WorkSans-Regular;
	height:50px !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 14px !important;
	
	
	color: #3E3E3E !important;
}


.gridSiugj .x-toolbar td, .gridSiugj x-toolbar span .gridSiugj .x-toolbar input .gridSiugj .x-toolbar div .gridSiugj .x-toolbar select .gridSiugj .x-toolbar label {
	font-family: Montserrat-Light;
	font-style: normal;
	font-weight: 300 ;
	font-size: 16px ;
	line-height: 18px ;
}



.gridSiugj .x-btn-text
{
	padding-left:30px !important; 
}

.gridSiugj .x-grid3-header
{
	height:50px;
	
}

.gridSiugj .x-grid3-hd
{
	height:50px;
	background: #E6EFFD !important;
	border: 1px solid #FFFFFF !important;
	
}


.gridSiugj .x-grid3-hd-over
{
	height:50px;
	background: #E6EFFD !important;
	background-image:none;
	border: 1px solid #FFFFFF !important;
	
}

.gridSiugj .x-grid3-hd-inner
{
	font-family: Montserrat-Light;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	/* identical to box height, or 112% */
	
	
	/* azul grisáceo */
	
	color: #3F5878;
}


.gridSiugj  .x-toolbar-cell
{
	background-color:#E5E5E5 !important;
}

.gridSiugj .x-toolbar-left, .gridSiugj .x-toolbar-right
{
	background-color:#E5E5E5 !important;
}


.gridSiugj .x-panel-bbar
{
	font-family: WorkSans-Regular !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 14px !important;
	line-height: 25px !important;
	color: #FFFFFF !important;

}
.gridSiugj .x-panel-bbar .x-toolbar-left, .gridSiugj .x-panel-bbar .x-toolbar-right
{
	background-color:#3F5878 !important;
	height:50px !important;
}



.gridSiugj .x-panel-bbar .x-toolbar-left .x-toolbar-cell
{
	background-color:#3F5878 !important;
	height:50px !important;
}

.gridSiugj  .x-panel-bbar .x-toolbar
{
	background-color:#3F5878 !important;
	border-color: #3F5878 !important;
	height:50px !important;
}

.gridSiugj .x-panel-tbar .x-toolbar
{
	background-color:#E5E5E5 !important;
	border-color: #E5E5E5 !important;
	height:50px !important;
}


.gridSiugj  .x-panel-bbar .x-toolbar .x-toolbar-cell .xtb-text
{
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 25px;
	color: #FFFFFF;
}


.gridSiugj .x-grid3-td-numberer
{
	background-color:#FFF;
	background-image:none;
}

.gridSiugj .x-grid3-td-numberer .x-grid3-col-numberer
{
	padding-right:20px !important;
	
}

.gridSiugj .x-grid3-row .x-grid3-row-checker
{
	background-image: url(../imagesSIUGJ/checkBox_0.png);
	height:50px;
	background-position: 10px 15px;
	
}

.gridSiugj .x-grid3-row-selected .x-grid3-row-checker
{
	background-image: url(../imagesSIUGJ/checkBox_1.png);
	height:50px;
    background-position: 10px 15px;
}

.gridSiugj .x-grid3-hd-checker
{
	background-image: url(../imagesSIUGJ/checkBox_0.png);
	height:50px;
	background-position: 10px 15px;
}

.gridSiugj .x-grid3-hd-checker-on
{
	background-image: url(../imagesSIUGJ/checkBox_1.png);
	height:50px;
	background-position: 10px 15px;
}

.gridSiugj .x-grid3-td-checker
{
	background-image:none;
}

.gridSiugj .x-grid3-row-collapsed .x-grid3-row-expander
{
	background-image: url(../imagesSIUGJ/plus.png);
	height:50px;
	background-position: 10px 15px;
}


.gridSiugj .x-grid3-row-expanded .x-grid3-row-expander
{
	background-image: url(../imagesSIUGJ/less.png);
	height:50px;
	background-position: 10px 15px;
}


.gridSiugj .x-grid3-td-expander 
{
	background-image:none;
}


.gridSiugj .x-tbar-page-first
{
	background-image: url(../imagesSIUGJ/pageFirst.png) !important;
}

.gridSiugj .x-item-disabled .x-tbar-page-first
{
	background-image: url(../imagesSIUGJ/pageFirstDisabled.png) !important;
}


.gridSiugj .x-tbar-page-prev
{
	background-image: url(../imagesSIUGJ/pagePrev.png) !important;
}

.gridSiugj .x-item-disabled .x-tbar-page-prev
{
	background-image: url(../imagesSIUGJ/pagePrevDisabled.png) !important;
}



.gridSiugj .x-tbar-page-next
{
	background-image: url(../imagesSIUGJ/pageNext.png) !important;
}

.gridSiugj .x-item-disabled .x-tbar-page-next
{
	background-image: url(../imagesSIUGJ/pageNextDisabled.png) !important;
}



.gridSiugj .x-tbar-page-last
{
	background-image: url(../imagesSIUGJ/pageLast.png) !important;
}

.gridSiugj .x-item-disabled .x-tbar-page-last
{
	background-image: url(../imagesSIUGJ/pageLastDisabled.png) !important;
}


.gridSiugj .x-panel-bbar .x-toolbar-left .x-toolbar-cell .x-form-text
{
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	width: 25px !important;
	height: 25px !important;
	background-color: #3F5878;
	color:#FFF;
	background-image:none;
	text-align:center;
	margin:5px;
	
}

.gridSiugj .x-tbar-loading
{
	background-image: url(../imagesSIUGJ/refresh.png) !important;
}



.gridSiugj  .x-btn-over .x-tbar-loading
{
	background-image: url(../imagesSIUGJ/refresh.png) !important;
	border-color:#FFF;
	border-width:1 px;
	border-style:solid;
	background-color: #3F5878;
}

.gridSiugj	.x-panel-bbar .x-toolbar-cell  .xtb-sep
{
	background-image:none;
}


.gridSiugj .x-grid3-hd-over .x-grid3-hd-inner,.gridSiugj .x-grid3-hd-menu-open .x-grid3-hd-inner
{
	background-color:#E6EFFD;
	background-image:none;
	text-decoration:underline;
	font-weight:bold;
	
}


.gridSiugj .sort-asc .x-grid3-hd-inner,.gridSiugj .sort-desc .x-grid3-hd-inner
{
	background-color:#E6EFFD;
	background-image:none;
	font-weight:bold;
	
}


.gridSiugj .x-grid3-hd-over .x-grid3-hd-inner .x-grid3-hd-btn, .gridSiugj .x-grid3-hd-menu-open .x-grid3-hd-inner .x-grid3-hd-btn
{
	background-image: url(../imagesSIUGJ/comboTriggers.png) !important;
	background-color:transparent;

}

.gridSiugj .x-grid3-hd-over .x-grid3-hd-inner .x-grid3-hd-btn:hover
{
	background-image: url(../imagesSIUGJ/comboTriggersOver.png) !important;
	background-color:transparent;
	background-position:0px !important;
	
}

.gridSiugj .ux-filtered-column .x-grid3-hd-inner
{
	font-weight:bold !important;
	font-style:italic !important;
}


.comboSIUGJ
{
	padding-left:10px;
	font-family: Montserrat-Regular !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 16px !important;

	/* identical to box height, or 112% 
	line-height: 18px;	
	
	/* gray */
	
	color: #656572 !important;
	background-color:#FFF;
	background-image:none;
	height:30px !important;
	border-style: none !important;


}

.comboWrapSIUGJ
{
	border: 1px solid #E5E5E5 !important;
	box-sizing: border-box !important;
	border-radius: 5px !important;
	height:30px !important;
}

.comboWrapSIUGJ .x-form-trigger
{
	background-image: url(../imagesSIUGJ/comboTriggers.png) !important;
	border-bottom-color: #FFF;
	background-position: 0px 5px;
}
	
.comboWrapSIUGJ .x-form-trigger-over
{
	background-image: url(../imagesSIUGJ/comboTriggersOver.png) !important;
	border-bottom-color: #FFF;
	background-position: 0px 5px;
}
	
	



.listComboSIUGJ .search-item
{
	font-family: Montserrat-Regular !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 16px !important;

	/* identical to box height, or 112% 
	line-height: 18px;	
	
	/* gray */
	color: #656572 !important;
	background-color:#FFF;
	background-image:none;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
    border-color: #3F5878 !important;
	border:none !important;
	border-bottom: 1px dotted !important;
	
}



.listComboSIUGJ .x-combo-selected
{
	background-color:#E6EFFD !important;
	border:none !important;
	border-bottom: 1px dotted !important;
}

.listComboSIUGJ .x-combo-list-inner
{    overflow-y: hidden;
	
}

.comboSIUGJBusqueda
{
	font-family: Montserrat-Regular !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 16px !important;

	/* identical to box height, or 112% 
	line-height: 18px;	
	
	/* gray */
	
	color: #656572 !important;
	background-color:#FFF;
	background-image:none;
	height:30px !importantmtives;
	border-style: none !important;
	padding-top:10px;


}

.comboWrapSIUGJBusqueda
{
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	border-radius: 80px;
}

.comboWrapSIUGJBusqueda .x-form-trigger
{
	background-image: url(../imagesSIUGJ/lupaBusqueda.png) !important;
	border-bottom-color: #FFF;
	background-position: 0px 10px;
    height: 30px;

}
	
.comboWrapSIUGJBusqueda .x-form-trigger-over
{
	background-image: url(../imagesSIUGJ/lupaBusqueda.png) !important;
	border-bottom-color: #FFF;
	background-position: 0px 10px;
    height: 30px;

}


.navBarra
{
	background-color: #E6EFFD;
	height:80px;
	
}

.tabPanelCentralSIUGJ .x-tab-panel-header
{
	display:none;
}




.tabPanelCentralSIUGJ .x-panel, .tabPanelCentralSIUGJ .x-panel-tbar
{
	border-bottom: 1px solid #E5E5E5;
}

.tabPanelCentralSIUGJ .x-panel, .tabPanelCentralSIUGJ .x-toolbar
{
	height:50px !important;
	background-color:#FFF !important;
	border-color: #FFF !important; 
	background-image: none;
	border-color:#F00;

}


.tabPanelCentralSIUGJ .x-panel, .tabPanelCentralSIUGJ .x-toolbar-cell
{
	/*height:50px !important;*/
	background-color:#FFF !important;
}

.tabPanelCentralSIUGJ .x-panel, .tabPanelCentralSIUGJ .x-toolbar, .tabPanelCentralSIUGJ .x-toolbar-left, .tabPanelCentralSIUGJ .x-toolbar-right
{
	background-color:#FFF;
	height:50px;
}


.tabPanelCentralSIUGJ .x-btn-text
{
	padding-left:30px !important; 
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	
	
	/* casi negro */
	
	color: #3E3E3E;
}

.tabPanelCentralSIUGJ .x-toolbar-cell
{
	border-right: 0.5px solid #E5E5E5;
	border-bottom: 0.5px solid #E5E5E5;
	box-sizing: border-box;

	border-right: 0.5px solid #E5E5E5;
	box-sizing: border-box;
    padding: 0px 10px 0px 10px;
}




.gridSiugjSeccion .x-panel,  .gridSiugjSeccion .x-toolbar
{
	height:50px !important;
	background-color:#FFF !important;
	border-color: #FFF !important; 
	background-image: none;
	border-color:#F00;

}


.gridSiugjSeccion .x-grid3-cell
{
	vertical-align:middle;
}
	
.gridSiugjSeccion .x-grid3-cell-inner
{
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #3E3E3E;
}


.gridSiugjSeccion .x-grid3-row-body td
{
	font-family:WorkSans-Regular;
	height:30px !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 14px !important;
	
	
	color: #3E3E3E !important;
}



.gridSiugjSeccion .x-btn-text
{
	padding-left:30px !important; 
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	
	
	/* casi negro */
	
	color: #3E3E3E;
}

.gridSiugjSeccion .x-toolbar-cell
{
	border-right: 0.5px solid #E5E5E5;
	border-bottom: 0.5px solid #E5E5E5;
	box-sizing: border-box;

	border-right: 0.5px solid #E5E5E5;
	box-sizing: border-box;
    padding: 0px 10px 0px 10px;
}


.gridSiugjSeccion .x-grid3-hd-checker
{
	background-image: url(../imagesSIUGJ/checkBox_0.png);
	height:30px;
	background-position: 10px 10px;
}

.gridSiugjSeccion .x-grid3-hd-checker-on
{
	background-image: url(../imagesSIUGJ/checkBox_1.png);
	height:30px;
	background-position: 10px 10px;
}

.gridSiugjSeccion .x-grid3-td-checker
{
	background-image:none;
}


.gridSiugjSeccion .x-grid3-td-numberer
{
	background-color:#FFF;
	background-image:none;
}

.gridSiugjSeccion .x-grid3-td-numberer .x-grid3-col-numberer
{
	padding-right:20px !important;
	
}

.gridSiugjSeccion .x-grid3-row .x-grid3-row-checker
{
	background-image: url(../imagesSIUGJ/checkBox_0.png);
	height:40px;
	background-position: 10px 10px;
	
}

.gridSiugjSeccion .x-grid3-row-selected .x-grid3-row-checker
{
	background-image: url(../imagesSIUGJ/checkBox_1.png);
	height:40px;
    background-position: 10px 10px;
}




.gridSiugjSeccion .x-grid3-hd
{
	height:40px;
	background: #FFF !important;
	border-right: 1px solid #E5E5E5;
	

	
}


.gridSiugjSeccion .x-grid3-hd-over
{
	height:40px;
	background: #E6EFFD !important;
	background-image:none;
	border: 1px solid #FFFFFF !important;
	
}

.gridSiugjSeccion .x-grid3-hd-inner
{
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	
	
	color: #3E3E3E;
}


.gridSiugjSeccion .x-grid3-header
{
	height:40px;
	background-color:#FFF;
	background-image:none;
	border: 1px solid #E5E5E5;
}


.gridSiugjSeccion .x-grid-group-hd
{
	height:80px;
}

.gridSiugjSeccion .x-grid-group-title
{
    padding: 30px 0px 0px 60px !important;
	font-family: Montserrat-Regular !important;;
	font-style: normal !important;;
	font-weight: 600 !important;;
	font-size: 16px !important;;
	line-height: 18px !important;;

	color: #656572 !important;
	
}

.gridSiugjSeccion .x-grid-group-hd div.x-grid-group-title
{
	background-image: url(../imagesSIUGJ/groupLess.png); !important;
	background-position: 10px 25px;
}

.gridSiugjSeccion .x-grid-group-collapsed .x-grid-group-hd div.x-grid-group-title
{
	background-image: url(../imagesSIUGJ/groupPlus.png); !important;
	background-position: 10px 25px;
}


.gridSiugjSeccion .x-grid3-cell-inner .x-grid3-check-col
{
	background-image: url(../imagesSIUGJ/checkBox_0.png);
	height:20px;
	background-position: center center;
}


.gridSiugjSeccion .x-grid3-cell-inner .x-grid3-check-col-on
{
	background-image: url(../imagesSIUGJ/checkBox_1.png);
	height:20px;
	background-position: center center;
}


/*** Grid **/

.comboSIUGJGrid
{
	padding-left:10px;
	font-family: Montserrat-Regular !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 16px !important;

	/* identical to box height, or 112% 
	line-height: 18px;	
	
	/* gray */
	
	color: #656572 !important;

	background-image:none;
	height:30px !important;
	border-style: none !important;
	background-color: #FFF;


}

.comboWrapSIUGJGrid
{
	border: 1px solid #E5E5E5 !important;
	box-sizing: border-box !important;
	border-radius: 5px !important;
	height:30px !important;
	background-color: #FFF;
}

.comboWrapSIUGJGrid .x-form-trigger
{
	background-image: url(../imagesSIUGJ/comboTriggers.png) !important;
	border-bottom-color: #FFF;
	background-position: 0px 10px;
}
	
.comboWrapSIUGJGrid .x-form-trigger-over
{
	background-image: url(../imagesSIUGJ/comboTriggersOver.png) !important;
	border-bottom-color: #FFF;
	background-position: 0px 10px;
}
	
	
.comboWrapSIUGJGrid input
{
	padding-top: 5px !important;
}


.listComboSIUGJGrid .search-item
{
	font-family: Montserrat-Regular !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 16px !important;

	color: #656572 !important;
	background-color:#FFF;
	background-image:none;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
    border-color: #3F5878 !important;
	border:none !important;
	border-bottom: 1px dotted !important;
	
}



.listComboSIUGJGrid .x-combo-selected
{
	background-color:#E6EFFD !important;
	border:none !important;
	border-bottom: 1px dotted !important;
}


.comboWrapSIUGJControl
{
	border: 1px solid #E5E5E5 !important;
	box-sizing: border-box !important;
	border-radius: 5px !important;
	height:30px !important;
	background-color: #FFF;
}

.comboWrapSIUGJControl .x-form-trigger
{
	background-image: url(../imagesSIUGJ/comboTriggers.png) !important;
	border-bottom-color: #FFF;
	background-position: 0px 10px;
}
	
.comboWrapSIUGJControl .x-form-trigger-over
{
	background-image: url(../imagesSIUGJ/comboTriggersOver.png) !important;
	border-bottom-color: #FFF;
	background-position: 0px 10px;
}
	
	




.comboWrapSIUGJControl input
{
	padding-left:10px;
	font-family: Montserrat-Regular !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 16px !important;

	/* identical to box height, or 112% 
	line-height: 18px;	
	
	/* gray */
	
	color: #656572 !important;

	background-image:none;
	height:30px !important;
	border-style: none !important;
	background-color:transparent !important;


}


.comboWrapSIUGJControlList .x-combo-list-item
{
	font-family: Montserrat-Regular !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 16px !important;

	color: #656572 !important;
	background-color:#FFF;
	background-image:none;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
   
}



.comboWrapSIUGJControlList .x-combo-selected
{
	
}