.tdContenedorFormulario select,.tdContenedorFormulario input
{
	font-family: Montserrat-Regular !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 16px !important;

	/* identical to box height, or 112% 
	line-height: 18px;	
	
	/* gray */
	
	color: #656572 !important;

	background-image:none;
	height:30px !important;
	border-style: none !important;
	background-color:transparent !important;
	
	
	border: 1px solid #E5E5E5 !important;
	box-sizing: border-box !important;
	border-radius: 5px !important;
	height:30px !important;
	background-color: #FFF;
	
}

.tdContenedorFormulario textarea
{
	font-family: Montserrat-Regular !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 16px !important;

	/* identical to box height, or 112% 
	line-height: 18px;	
	
	/* gray */
	
	color: #656572 !important;

	background-image:none;
	border-style: none !important;
	background-color:transparent !important;
	
	
	border: 1px solid #E5E5E5 !important;
	box-sizing: border-box !important;
	border-radius: 5px !important;
	background-color: #FFF;
	
}

.tdContenedorFormulario .x-menu-date-item
{
	
}
	
	
.campoFechaSIUGJ
{
	font-family: Montserrat-Regular !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 16px !important;

	/* identical to box height, or 112% 
	line-height: 18px;	
	
	/* gray */
	
	color: #656572 !important;

	background-image:none;
	height:30px !important;
	border-style: none !important;
	background-color:transparent !important;
	
	
	border: 1px solid #E5E5E5 !important;
	box-sizing: border-box !important;
	border-radius: 5px !important;
	height:30px !important;
	background-color: #FFF;
	
}	


.campoFechaSIUGJ .x-form-field-wrap .x-form-date-trigger 
{
    background-image: url(../imagesSIUGJ/btnDate.png) !important;
	border: none;
	background-position: 0px 5px;
    height: 25px;
}

.campoFechaSIUGJ input
{
	
	border-color: transparent !important;
	
	
	
}	


