/* CSS Document */


/*** Gñlobales Standar**/
.logoGob
{
	height: 25px;
	width: 103px;
	left: 50px;
	top: 8px;
	border-radius: 0px;
	
}

.rectangulo1
{
	position: relative;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 83.33%;
	height:25px;
	
	/* azul oscuro */
	
	background: #1A3E9A;
	background-repeat: no-repeat;
	
}

.imagenLogoGov
{
	position: absolute;
	left: 3.47%;
	right: 89.38%;
	top: 3.33%;
	bottom: 86.25%;	
	height: 25px;
	width: 103px;
}

.rectangulo2
{
	position: relative;
	left: 0%;
	right: 0%;
	bottom: 0%;
	height:200px;
	
	background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.rectangulo2Index
{
	position: relative;
	left: 0%;
	right: 0%;
	bottom: 0%;
	height:240px;
	
	background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}


.letraLogin
{
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-decoration:none;
	/* identical to box height */
	
	
	/* azul oscuro */
	
	color: #1A3E9A;
}

.tablaOpciones
{
	
	position: absolute;
	left: 300px;
	top: 64.58%;
	bottom: 86.25%;	
	
	
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	
	
	/* azul oscuro */
	
	color: #1A3E9A;
}

.letraLogin:hover
{
	
	text-decoration:underline;
	
}

.rectangulo3
{
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	height: 50px;
	vertical-align:middle;
	background-color:#FFF;
}

.rectangulo4
{
	height: 270px;
	vertical-align:middle;
	background: #1A3E9A;
}

.areaCentral1
{
	height:400px;
	background-color:#FFF;
}

.areaCentral2
{
	height:610px;
	background-color:#FFF;
}

.areaCentral3
{
	height:610px;
	background-color:#E5E5E5;
	opacity: 0.25;
}

.tablaLogin
{
	position: absolute;
	right:50px;
	top: 64.58%;
	bottom: 18.75%;
}

.imagenLogo
{
	position: absolute;
	left: 3.47%;
	right: 90.76%;
	top: 30px;
	bottom: 37.5%;
	width:95px;
	height:95px;
	
	
}

.imagenLogo2
{
	position: absolute;
	right: 50px;
	top: 30px;
	bottom: 41.67%;


}

.etiquetaBienvenido
{
	position: absolute;
	left: 0%;
	right: 82.71%;
	top: 73%;
	bottom: 14.58%;
	
	/* Monserrat medium */
	
	font-family: Montserrat-Medium;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #004884;
}

.etiquetaBienvenido .nombreUsuario
{
	color:#000;
}

.etiquetaSalir
{
	position: absolute;
	left: 91.95%;
	right: 5.27%;
	top: 72%;
	bottom: 15%;
	
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */
	
	text-align: center;
	text-decoration-line: underline;
	
	/* azul oscuro */
	
	color: #1A3E9A;
	
	
}

.etiquetaSalir a
{
	color: #1A3E9A;
	text-decoration:none;
}

.iconoSalir
{
	position: absolute;
	left: 0%;
	right: -0.02%;
	top: 0%;
	bottom: 0%;
	
	/* azul oscuro */
	

}

.wrap {
    width: 100% !important;
    padding: 0px;
    border: 1px solid #d1d1d1;
}

nav {
		background: -webkit-gradient(linear, center top, center bottom, from(#1A3E9A), to(#1A3E9A)) !important;
		background-image: linear-gradient(#1A3E9A, #1A3E9A) !important;
		padding: 0 10px;
		position: relative;
		min-height:50px;
}

.menu li 
{
    float: left;
    position: relative;
    text-align: left;
    vertical-align: bottom;
    padding-top: 13px !important;
	background-image: linear-gradient(#1A3E9A, #1A3E9A);
}

.menu li:hover ul li a:hover 
{
	background-image: linear-gradient(#1A3E9A, #1A3E9A) !important;
	box-shadow:none;
}

.menu li:hover ul 
{
	background-image: linear-gradient(#1A3E9A, #1A3E9A) !important;
	background: #900;

	
}



.menu li:hover
{
	box-shadow:none;
	
}


.menu li:hover ul a
{
	box-shadow:none;
	text-decoration:none;
	
}



.menu li a {
				font-family: Montserrat-Regular !important;
				font-style: normal !important;
				font-weight: 600 !important;
				font-size: 14px !important;
				line-height: 17px !important;
				color:#FFF !important;
				min-height:30px;
				padding: 0px 25px 0px 25px !important
			}
			
			
.menu li:hover a 
{
    background: -webkit-gradient(linear, center top, center bottom, from(#1A3E9A), to(#1A3E9A)) !important;
    background-image: linear-gradient(#1A3E9A, #1A3E9A) !important;
	color:#FFF !important;
	box-shadow:none;
	text-decoration:underline;

}

.menu ul
{
   border: 1px solid #1A3E9A !important;
}


.menu ul li 
{
	float: none;
	width:250px;
	font-family:Lato-Regular;
	border-bottom-style:dotted !important;
	border-bottom-color:#FFF !important;
	border-bottom-width:1px;
	
	
}

.menu ul li:last-child
{
	border-bottom-style:none !important;
}


.menu li:hover ul li a:hover 
{
	background: -webkit-gradient(linear, center top, center bottom, from(#c7558a), to(#c7558a));
	background-image: linear-gradient(#c7558a, #c7558a);
	/*border-radius: 12px;*/
	border-radius: 0px;
	box-shadow: none !important;
	font-family:Lato-Regular;
	text-decoration:underline;
	
}


.tblNotificacionesBar
{
	padding-top: 10px;
    padding-left: 25px;
}

.burbujaNotificacion
{
	background-image: none;
	color: #FFF !important;
	text-align: center;
	font-size: 14px;
	line-height:24px;	
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
	font-family:Montserrat-Bold;
	cursor: pointer;
	width: 35px;
	height: 25px;
	background: #1A3E9A;
	border-radius: 60px;
}

.letraBarraInferior
{
	font-family: Montserrat_Light;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
}

.letraBarraInferior2
{
	font-family: Montserrat_Light;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	color: #FFFFFF;
}

.celdaInferior
{
	border-right:solid;
	border-width: 1px;
	border-color:#FFF;
	
}


.celdaInferiorUltima
{
	border-style:none;
	
	
}

.tablaGlobal
{
	 background-color: #FFF;
     border-spacing: 0px;
}

.etiquetaBarra
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #3E3E3E;
}

.letraNombreTablero
{
	font-family: Montserrat-Bold !important;
	font-style: normal !important;
	font-weight: 600 !important;
	font-size: 14px !important;
	line-height: 17px !important;
	
	/* casi negro */
	
	color: #3E3E3E !important;
}

.buttonGral
{
	font-family: Montserrat-Regular !important;
	font-style: normal  !important;
	font-weight: 300  !important;
	font-size: 16px  !important;
	line-height: 18px  !important;
	
}

.botonEliminarFiltro .x-btn-text
{
	width:30px !important;
	height:30px !important;
}

.botonEliminarFiltro .x-btn-over
{
	background-image:none !important;
	
}


.botonEliminarFiltro .x-btn-mc
{
	background-image:none !important;
	
}


.divBusqueda
{
	position: absolute;
	left: 35%;
	right: 82.71%;
	top: 65%;
	bottom: 14.58%;
	width:550px;
	height:40px !important;
	
	
}

.campoFormulario
{
	background: #FFFFFF;
	/* gris claro */
	
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 5px;
	height:40px;
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: #BFBFBF;
}


.tituloSeccionIndex
{
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	color: #1A3E9A;
	position: relative;
	left: 280px;
	top: 50px;
	width:400px;
	opacity:1;

}

.tituloSeccionIndex2
{
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	color: #1A3E9A;
	position: relative;
	left: 280px;
	top: 630px;
	width:400px;
	opacity:1;

}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 20px;
}


.tdMenuVistaDTD
{
	height:80px;
	vertical-align:middle;
	background-color:transparent;
	border-right: 0.2px solid #BFBFBF;
	
	
	
	/* identical to box height, or 139% */
	
	
	/* azul oscuro */
	
	color: #1A3E9A;
}

.tdMenuVistaDTD a, .opcionSeleccionada a
{
	padding-left:25px;
	padding-right:25px;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}

.opcionSeleccionada
{
	height:80px;
	vertical-align:middle;
	background-color:#1A3E9A;
	border-right: 0.2px solid #BFBFBF;
	
	
	/* identical to box height, or 139% */
	
	
	/* azul oscuro */
	
	color: #FFFFFF;
}

.opcionSeleccionada a
{
	color: #FFFFFF;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}



.btnCerrarVentana {
					position: absolute;
					top: 22px;
					right: 40px;
					width: 32px;
					height: 32px;
					background-image:url(../imagesSIUGJ/close.png)
				}

.btnCerrarVentana:hover 
{
	position: absolute;
	top: 22px;
	right: 40px;
	width: 32px;
	height: 32px;
	background-image:url(../imagesSIUGJ/closeOver.png)
}				


.SIUGJ_Control input
{
	background-color:#900 !important;
}


.SIUGJ_nombreDocumentoAdjunto
{
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	/* identical to box height, or 112% */
	
	text-decoration-line: underline;
	
	/* azul oscuro */
	
	color: #1A3E9A;
}


.etiquetaSIUGDatosContacto
{
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	/* identical to box height, or 112% */
	
	
	/* casi negro */
	
	color: #3E3E3E;


}

.etiquetaSIUGJContacto
{
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	/* identical to box height, or 112% */
	
	
	/* casi negro */
	
	color: #3E3E3E;
}